@model List<AdminResultAllUserByEventId>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Etkinliğe Cevap Veren Kullanıcılar</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatables" class="table table-hover">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Telefon Numarası</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Basvuru Zamani</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>UserId</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Telefon Numarası</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Basvuru Zamani</th>
                                <th>Durum</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                // Duruma göre CSS sınıfı belirleme
                                string rowClass = item.Status == "Pending" ? "table-warning" :
                                item.Status == "Accepted" ? "table-success" :
                                item.Status == "Rejected" ? "table-danger" : "";

                                <tr class="@rowClass">
                                    <td>@item.UserId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Surname</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@item.RoleName</td>
                                    <td>@item.BasvuruZamani</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <button class="btn btn-success detail-button" data-url="/Admin/AdminUser/Detail/@item.UserId">
                                            Detayı Görüntüle
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
