@model List<AdminResultAllEventByUserId>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kullanıcının Cevapladığı Etkinlikler</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="basic-datatables" class="table table-hover">
                        <thead>
                            <tr>
                                <th>EtkinlikId</th>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                @* <th>Aktif Mi</th> *@
                                <th>Tarih ve Saat</th>
                                <th>Kabul Durumu</th>
                                <th>Red Sebep</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>EtkinlikId</th>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                @* <th>Aktif Mi</th> *@
                                <th>Tarih ve Saat</th>
                                <th>Kabul Durumu</th>
                                <th>Red Sebep</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                // Duruma göre CSS sınıfı belirleme
                                string rowClass = item.Status == "Pending" ? "table-warning" :
                                item.Status == "Accepted" ? "table-success" :
                                item.Status == "Rejected" ? "table-danger" : "";

                                <tr class="@rowClass">
                                    <td>@item.EventId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                   @*  <td>@item.IsActive</td> *@
                                    <td>@item.DateAndTime</td>
                                    <td>@item.Status</td>
                                    <td>@item.RejectedReason</td>
                                    <td>
                                        <button class="btn btn-success detail-button" data-url="/Admin/AdminEvent/Detail/@item.EventId">
                                            Detayı Görüntüle
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
